body {
    background: url(../Resources/JumpingFinn_CN_takeover_es.jpg) no-repeat scroll center top;
    background-color:#c6eae0;
}

.sonido{
    margin-top: 5px;
}

.sonidobutton{
    width: 50px;
    height: 50px;
    background-repeat:no-repeat;
    background-position:center; 
    background-color:transparent;
    border-width: 0px;
}

.sonidobutton:active { 
    background-position:  bottom; 
}

#reproducir{
    background-image: url(../Resources/iconoreproducir.png);
}

#pausar{
    background-image: url(../Resources/iconomute.png);

}


#subir{
    background-image: url(../Resources/iconosubirvolumen.png);

}


#bajar{
    background-image: url(../Resources/iconobajarvolumen.png);

}

.buto{
     margin-top: -55px;
    float: right;
}

#Home{
     background-image: url(../Resources/iconhouse.png);
}

#Return{
    background-image: url(../Resources/iconreturn.png);
}
#canvas{
    display:block;
    margin:0 auto 0 auto;
    border:1px solid #000;
    background-image: url(../Resources/fondo1.jpg);
}

.tower{
    width: 50px;
    height: 50px;
    background-repeat:no-repeat;
    background-position:center; 
    border-width: 1px;  
    margin-left: 10px;
    margin-right: 10px;
}

.tower:active {
    opacity:0.4;
    filter:alpha(opacity=40);
}

#ice{
    background-image: url(../Resources/iconice.jpg);

}

#lemon{
    background-image: url(../Resources/iconlemon.jpg);

}

#magic{
    background-image: url(../Resources/iconmagic.jpg);

}

#hudson{
    background-image: url(../Resources/iconhudson.jpg);

}

#lich{
    background-image: url(../Resources/iconlich.jpg);

}

#gunter{
    background-image: url(../Resources/icongunter.jpg);

}

#start{
    background-image: url(../Resources/iconogo.jpg);

}

#reset{
    background-image: url(../Resources/iconoreset.jpg);
}
div.menu_tower{
    padding-top: 30px;
    float: bottom;
    width: 800px;
    background-image: url(../Resources/pergamino.png);
    background-repeat:no-repeat;
    background-position:center; 
    height: 80px;
    margin-top: -15px;

}